#diagrama_scrum {
    position: relative;
    overflow: visible;
    max-width: 1560px;
    max-height: 1200px;
}

.clickable {
    position: absolute;
    display: block;
    /*background-color: red;*/
    /*opacity:  0.2;*/
}

.round {
    border-radius: 5px;
}

.green:hover {
    background-color: rgba(0, 100, 0, 0.2);
}

.red:hover {
    background-color: rgba(140, 0, 20, 0.2);
}

.blue:hover {
    background-color: rgba(0, 0, 200, 0.1);
}

.clickable:hover {
    cursor: pointer;
    transition: background-color 0.3s;
}

#elencar_necessidades {
    width: 10.8%;
    height: 4%;
    top: 16.5%;
    left: 17%;
}

#criar_product_backlog {
    width: 13%;
    height: 6%;
    top: 31%;
    left: 28%;
}

#atualizar_product_backlog {
    width: 12%;
    height: 6%;
    top: 31%;
    left: 6%;
}

#planejar_sprint {
    width: 7.2%;
    height: 4%;
    top: 32.1%;
    left: 64%;
}

#executar_atividades_sprint {
    width: 8%;
    height: 5.2%;
    top: 31%;
    left: 82.7%;
}

#realizar_reuniao_periodica {
    width: 6.5%;
    height:7%;
    top: 15%;
    left: 83.3%;
}

#revisao_sprint {
    width: 7%;
    height:3%;
    top: 45.5%;
    left: 83.3%;
}

#retrospectiva_sprint {
    width: 9%;
    height:3%;
    top: 64.1%;
    left: 75.6%;
}

#atualizar_documentacao {
    width: 11.5%;
    height:3.3%;
    top: 64.1%;
    left: 51.6%;
}

#conferir_novas_necessidades {
    width: 8%;
    height:5.1%;
    top: 51%;
    left: 16%;
}

#conferir_produto_finalizado {
    width: 8%;
    height:5%;
    top: 70.5%;
    left: 16%;
}

#product_backlog1{
    width: 8.8%;
    height: 3%;
    top: 25.4%;
    left: 40.56%;
}
#product_backlog2{
    width: 6.3%;
    height: 2.5%;
    top: 38.5%;
    left: 68.8%;
}

#product_backlog3{
    width: 9%;
    height:3%;
    top: 73.2%;
    left: 81.2%;
}

#product_backlog4{
    width: 6.6%;
    height:2.3%;
    top: 66.4%;
    left: 10.3%;
}

#product_backlog5{
    width: 7%;
    height:2.5%;
    top: 84.5%;
    left: 9%;
}

#sprint_backlog{
    width: 5.3%;
    height: 3.5%;
    top: 25%;
    left: 75.2%;
}

#relatorio_sprint{
    width: 6.6%;
    height: 3.5%;
    top: 50.5%;
    left: 70%;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}

btn:hover {
    background-color: RoyalBlue;
}
